div{
    text-align: right;
}

ion-segment-button{
   --color-checked: var(--ion-color-primary-contrast);
   --indicator-color : var(--ion-color-primary);
}
    #spin{
        text-align: center;
    }