<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/places/tabs/offers"></ion-back-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-card>
     <ion-row>
       <ion-col>
          <ion-img src="./assets/images/logo.jpg"></ion-img>
       </ion-col>
     </ion-row>
    </ion-card>
    <h1 text-center>Feedy</h1>
    <p>This app allow its user to share and receive
      surplus food in real time in order to help fight against food wastage and hunger issues.
      Considering this issue, we brought up with a solution that refers to services that bring
      together the concept of food sharing/receiving in a city with the use of technology, where
      every user can share/donate surplus food from anywhere (home, restaurants, marriage halls,
      parties, etc.) and the other user who seeks food for himself or to help some needy (white
      collars, people in slum areas or anyone who can’t afford food) can pick the food from
      anywhere navigated with our integrated Google Maps navigation system.
      </p>
  </ion-grid>



</ion-content>
